body {
    margin: 0;
    font-family: Arial;
    background: #0f0f1a;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(90deg, #ff0080, #7928ca);
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #111;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: #1c1c2b;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 30px;
}
